@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --color-fondo: #222;
    --color-secundario: #333;
    --ancho-aside: 15rem;
}

*{
    font-family: "Kumbh Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aside bar */

body{
    display: flex;
}

.aside{
    width: var(--ancho-aside);
    height: 100vh;
    background-color: var(--color-secundario);
    color: #fff;
}

.aside__title{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #000
}

.aside__list{
    padding: 1rem 2rem;
    box-shadow: 0 0 10px #000;
}

.aside__list__item{
    list-style: none;

}

.aside__list__item:nth-child(2){
    margin: 1rem 0
}

.aside__button{
    display: block;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer
}

/* Main */

main{
    background-color: var(--color-fondo);
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 1rem;
}

/* Barra de titulo y añadir */

.upper-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.upper-text__title{
    margin-left: 2rem;
    font-size: 2.5rem;
}

.upper-text__add{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer
}

/* Tareas */

.container{
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.container__list__item{
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.container__list__item__input{
    margin-right: 1rem;
}

.container__list__item__trash{
    background-color: #fff;
    height: 2.2rem;
    width: 2.2rem;
    background-size: cover;
    background-image: url(img/trash.svg);
    border: none;
    border-radius: 10px;
    display: none;
    transition: 0.2s;
}

.container__list__item:hover .container__list__item__trash{
    display: inline-block;
}

.container__list__item__trash:hover{
    background-color: red
}

/* Estilos del input que se aplica en el JAVASCRIPT */

.container__list__item__text-input{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.5s;
    border-radius: 20px;
}

.container__list__item__text-input:focus{
    border: 1px solid #fff;
    padding: 0.2rem;
}